.card {
    min-height: 250px;
    height: auto;
    border: none !important;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}


.margin2 {
    width: 40vw;
    height: 50vh;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 20px;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    overflow-y: auto; 
}

#Excluir{
    margin-left: 107px;
}

#Label{
    transform: translateX(-13.5rem);
    width: fit-content;
}
