
.margin {
    width: 60%;
    height: 100%;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: none !important;
    border-radius: 20px !important;
}

.card img{

    border-radius: 20px 20px 0px 0px !important;

}

#Socorro{
    display: flex;
    gap: 50px;
    
    
}
